.timerContainer {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .timerCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(52, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .timerText {
    font-size: 24px;
    color: white;
    margin: 0;
  }
  